@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --info: #1890ff;
  --success: #52c41a;
  --warning: #faad14;
  --danger: #ff4d4f;
  --primary: #3a21ba;
}

[data-theme='light'] {
  --primary: #fdfcff;
}

@layer components {
  .btn {
    @apply inline-flex select-none items-center border border-transparent text-white shadow-sm transition focus:outline-none;
    &:focus-visible {
      @apply focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1;
    }
    /* default btn */
    & {
      @apply rounded-md bg-neutral-500 px-4 py-2 text-sm;
    }
    &-sm {
      @apply rounded-sm px-3 py-2 text-sm leading-4;
    }
    &-lg {
      @apply rounded-md px-4 py-2 text-base;
    }
    &-xl {
      @apply rounded-md px-6 py-3 text-base;
    }
    /* btn variants */
    &-ghost {
      @apply bg-transparent text-neutral-500 shadow-none focus:ring-current;
      &:hover,
      &.btn-active {
        @apply bg-neutral-500 bg-opacity-20;
      }
    }

    &-link {
      @apply bg-transparent text-indigo-500 shadow-none hover:underline;
    }

    &-outline {
      @apply border-current bg-transparent text-neutral-400 focus:ring-current;
      &:hover {
        @apply border-neutral-400 bg-neutral-400 text-white;
      }

      &.btn-primary {
        @apply text-primary;
        &:hover {
          @apply border-primary bg-primary text-white;
        }
      }

      &.btn-info {
        @apply text-info;
        &:hover {
          @apply border-info bg-info text-white;
        }
      }

      &.btn-success {
        @apply text-success;
        &:hover {
          @apply border-success bg-success text-white;
        }
      }
    }
  }

  .badge {
    @apply inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium;

    & {
      @apply bg-gray-100 text-gray-800;
      & > button {
        @apply text-gray-400 hover:bg-gray-200 hover:text-gray-500 focus:bg-gray-500 focus:text-white focus:outline-none;
      }
    }

    &-info {
      @apply bg-blue-100 text-blue-800;
      & > button {
        @apply text-blue-400 hover:bg-blue-200 hover:text-blue-500 focus:bg-blue-500 focus:text-white focus:outline-none;
      }
    }

    &-success {
      @apply bg-green-100 text-green-800;
      & > button {
        @apply text-green-400 hover:bg-green-200 hover:text-green-500 focus:bg-green-500 focus:text-white focus:outline-none;
      }
    }

    &-warning {
      @apply bg-yellow-100 text-yellow-800;
      & > button {
        @apply text-yellow-400 hover:bg-yellow-200 hover:text-yellow-500 focus:bg-yellow-500 focus:text-white focus:outline-none;
      }
    }

    &-error {
      @apply bg-red-100 text-red-800;
      & > button {
        @apply text-red-400 hover:bg-red-200 hover:text-red-500 focus:bg-red-500 focus:text-white focus:outline-none;
      }
    }

    &-icon {
      @apply pl-2 pr-0.5;
    }
  }

  /* radio */
  input[type='radio'] {
    --s: 1em; /* control the size */
    --c: var(--primary); /* the active color */

    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s) / 8) solid #939393;
    padding: calc(var(--s) / 8);
    background: radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0
      no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s) / 10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: 0.3s;
  }
  input[type='radio']:checked {
    border-color: var(--c);
    background-size: 100% 100%;
  }

  input[type='radio']:disabled {
    background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media print {
    input[type='radio'] {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
      background: none;
    }
  }

  label {
    display: inline-flex;
    align-items: center;
  }

  /* checkbox */
  [type='checkbox'] {
    --hover-background: hsl(0deg 0% 50% / 30%);
    --checkmark-svg: url('https://api.iconify.design/feather:check.svg');
    --indeterminate-svg: url('https://api.iconify.design/feather:minus.svg');

    display: inline-block;
    height: 1rem;
    width: 1rem;
    position: relative;
    cursor: pointer;
    appearance: none;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 0.25rem;

    &:disabled {
      cursor: not-allowed;
      /* system color for disabled elements */
      color: GrayText;
    }

    &::before {
      content: '';
      position: absolute;
      inset: -0.75rem;
      border-radius: 50%;
      transition: background-color 200ms;

      /* increase tap target size for touch devices */
      @media (pointer: coarse) {
        inset: -1.25rem;
        --hover-background: transparent;
      }
    }

    &:enabled:where(:hover, :focus-visible) {
      outline-offset: 1px;

      &::before {
        background-color: var(--hover-background);
      }
    }

    &:checked::after,
    &:indeterminate::after {
      content: '';
      position: absolute;
      inset: 0;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 1rem;
      background-color: currentColor;
    }

    &:checked::after {
      mask-image: var(--checkmark-svg);
    }

    &:indeterminate::after {
      mask-image: var(--indeterminate-svg);
    }
  }
}

/* animate */
/* fade */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-acive {
  transition: opacity 200ms ease-out;
}

/* slide */
.slide-left-leave-to,
.slide-right-enter-from {
  transform: translateX(-100%);
}

.slide-left-enter-from,
.slide-right-leave-to {
  transform: translateX(100%);
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 300ms ease-out;
}

.slide-left-leave-active,
.slide-right-leave-active {
  position: absolute;
}

/* dropdown */
.dropdown-enter-active {
  @apply transition duration-100 ease-out;
}

.dropdown-leave-active {
  @apply transition duration-75 ease-in;
}

.dropdown-enter-from,
.dropdown-leave-to {
  @apply scale-95 opacity-0;
}

.dropdown-enter-to,
.dropdown-leave-from {
  @apply scale-100 opacity-100;
}

/* gradient text */
.gradient-text {
  --color-one: var(--color-one, #42d392);
  --color-two: var(--color-two, #647eff);
  background: linear-gradient(315deg, var(--color-one) 25%, var(--color-two));
  background-clip: text;
  color: transparent;
}
/* animated gradient text */
.animated-gradient-text {
  --bg-size: 400%;
  --color-one: var(--animated-gradient-color-one);
  --color-two: var(--animated-gradient-color-two);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  animation: move-bg 8s infinite linear;
  color: transparent;
  background-clip: text;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
